@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #D3AD7F;
    --black: #13131A;
    --white: #FFFFFF;
    --background: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--background);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--background);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: var(--white);
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

.header .icons img {
    margin: 1rem;
    cursor: pointer;
}

.header .icons img:hover {
    width: 40px;
    height: 40px;
}

/* HOME */

.home_container {
    background-image: url("../images/home-img.jpg");
    background-position: center;
    background-size: cover;
}

.home_container #home {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 6rem;
}

.content p {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover {
    letter-spacing: 0.1rem;
}

/* Sobre Nós */

/*.about {

}*/

.about .row {
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.title {
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #FFFFFF;
    text-transform: uppercase;
}

.about .row .content {
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #FFFFFF;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 1rem 0;
    line-height: 1.8;
}

/* Nosso Menu */

.menu .cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .cards_container .card {
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .cards_container .card img {
    height: 10rem;
}

.menu .cards_container .card h3 {
    color: #FFFFFF;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .cards_container .card .price {
    color: #FFFFFF;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .cards_container .card .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .cards_container .card:hover {
    background-color: #FFFFFF;

}

.menu .cards_container .card:hover>* {
    color: var(--black);
}